body{
    text-align:center;
    background-color: white;
    font-family: ubuntu;
}
div#boxbig{
    background-color: white;
    width:990px; /*height:850px;*/
    margin:0 auto 0 auto;
    text-align:left;
}
div#boxintestazione{
background-image:url('nuvole.png');
    /*background-color: white;
    width:990px;
    height:90px;*/
}
div#boxlogo{
    text-align:left;
    margin-left: 60px;
    height:140px;
}
div#boxlandmarktop{
    margin-top: -26px;
    text-align: center;
}
a#textlandmark_right{
    color:#444444;
    background-image: linear-gradient(to top, #eeeeee, white);/*
    border-right: 3px solid #b46f34;
    border-bottom: 3px solid #b46f34;
    border-top: 3px solid #b46f34;*/
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #eeeeee;
    float: right;
    width: 150px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
 }
a#textlandmark_left{
    color:#444444;
    background-image: linear-gradient(to top, #eeeeee, white);/*
    border-right: 3px solid #b46f34;
    border-bottom: 3px solid #b46f34;
    border-top: 3px solid #b46f34;
    border-left: 1px solid grey;*/
    border-left: 1px solid #eeeeee;
    float: right;
    width: 150px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
 }
div#boxlinea1{
margin-top: 26px;

    /*background-image: linear-gradient(to top, whitesmoke, white);*/
    background-color: #eeeeee;
    /*border-right:1px solid lightgray;
    border-left:1px solid lightgray;
    width:988px;*/
    height:4px;
    
}
div#boxlinea2{
    /*background-color: #d3d3d3;*/
    background-color: #c20000;
    height:4px;
}
div#boxlinea3{
    background-color: white;
    height:4px;  
}
div#boxlinea4{
    background-color: #0c6b71;
    height:20px;  
}
div#boxlinea5{
    background-color: white;
    height:40px;  
}
div#boxmenu{
    float:left;
    /*border-left:1px solid lightgray;*/
    
    width:238px;
    /*height:692px;*/
}
div#boxlandmarkleft{
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid lightgray;
}
div#boxlinkleft{
    margin-left: 20px;
    margin-right: 20px;
}
ul#boxleft{
    list-style:none;
    padding-left: 8px;
}
div#boxcontenuto{
    padding-left: 30px;
    margin-top: -10px;
    float:right;
    /*border-right:1px solid lightgray;*/
    border-left:1px solid lightgray;
    width:719px;
    height:692px;
}
h1{
    font-weight: normal;
}
